body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:328px;
}
#u1419 {
  position:absolute;
  left:0px;
  top:-20px;
  width:1250px;
  height:328px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:156px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:1353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1421 {
  position:absolute;
  left:165px;
  top:328px;
  width:990px;
  height:1353px;
}
#u1422 {
  position:absolute;
  left:2px;
  top:668px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
}
#u1423 {
  position:absolute;
  left:556px;
  top:278px;
  width:98px;
  height:17px;
}
#u1424 {
  position:absolute;
  left:2px;
  top:0px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1425 {
  position:absolute;
  left:579px;
  top:278px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1426 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1427 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1428 {
  position:absolute;
  left:190px;
  top:429px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1429 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1430 {
  position:absolute;
  left:190px;
  top:469px;
  width:815px;
  height:148px;
}
#u1431 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1432 {
  position:absolute;
  left:203px;
  top:499px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1433 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1434 {
  position:absolute;
  left:197px;
  top:457px;
  width:30px;
  height:17px;
}
#u1435 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1436 {
  position:absolute;
  left:257px;
  top:590px;
  width:116px;
  height:16px;
}
#u1437 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1438 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1439 {
  position:absolute;
  left:203px;
  top:590px;
  width:15px;
  height:16px;
}
#u1439_img.mouseOver {
}
#u1439.mouseOver {
}
#u1439_img.mouseDown {
}
#u1439.mouseDown {
}
#u1439_img.selected {
}
#u1439.selected {
}
#u1440 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1441 {
  position:absolute;
  left:222px;
  top:591px;
  width:25px;
  height:16px;
}
#u1442 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1443 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1444 {
  position:absolute;
  left:203px;
  top:590px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1444_img.mouseOver {
}
#u1444.mouseOver {
}
#u1444_img.mouseDown {
}
#u1444.mouseDown {
}
#u1444_img.selected {
}
#u1444.selected {
}
#u1445 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1446 {
  position:absolute;
  left:222px;
  top:591px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1447 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1448 {
  position:absolute;
  left:183px;
  top:641px;
  width:955px;
  height:1px;
}
#u1449 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:13px;
}
#u1450 {
  position:absolute;
  left:173px;
  top:377px;
  width:917px;
  height:13px;
}
#u1451 {
  position:absolute;
  left:2px;
  top:-2px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1452 {
  position:absolute;
  left:190px;
  top:355px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1453 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:43px;
}
#u1454 {
  position:absolute;
  left:685px;
  top:1605px;
  width:453px;
  height:43px;
}
#u1455 {
  position:absolute;
  left:2px;
  top:14px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1457 {
  position:absolute;
  left:190px;
  top:667px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1458 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1459 {
  position:absolute;
  left:190px;
  top:707px;
  width:815px;
  height:148px;
}
#u1460 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1461 {
  position:absolute;
  left:203px;
  top:737px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1462 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1463 {
  position:absolute;
  left:197px;
  top:695px;
  width:30px;
  height:17px;
}
#u1464 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1465 {
  position:absolute;
  left:257px;
  top:828px;
  width:116px;
  height:16px;
}
#u1466 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1467 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1468 {
  position:absolute;
  left:203px;
  top:828px;
  width:15px;
  height:16px;
}
#u1468_img.mouseOver {
}
#u1468.mouseOver {
}
#u1468_img.mouseDown {
}
#u1468.mouseDown {
}
#u1468_img.selected {
}
#u1468.selected {
}
#u1469 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1470 {
  position:absolute;
  left:222px;
  top:829px;
  width:25px;
  height:16px;
}
#u1471 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1472 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1473 {
  position:absolute;
  left:203px;
  top:828px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1473_img.mouseOver {
}
#u1473.mouseOver {
}
#u1473_img.mouseDown {
}
#u1473.mouseDown {
}
#u1473_img.selected {
}
#u1473.selected {
}
#u1474 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1475 {
  position:absolute;
  left:222px;
  top:829px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1476 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1477 {
  position:absolute;
  left:183px;
  top:879px;
  width:955px;
  height:1px;
}
#u1478 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1480 {
  position:absolute;
  left:190px;
  top:905px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1481 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1482 {
  position:absolute;
  left:190px;
  top:945px;
  width:815px;
  height:148px;
}
#u1483 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1484 {
  position:absolute;
  left:203px;
  top:975px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1485 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1486 {
  position:absolute;
  left:197px;
  top:933px;
  width:30px;
  height:17px;
}
#u1487 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1488 {
  position:absolute;
  left:257px;
  top:1066px;
  width:116px;
  height:16px;
}
#u1489 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1490 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1491 {
  position:absolute;
  left:203px;
  top:1066px;
  width:15px;
  height:16px;
}
#u1491_img.mouseOver {
}
#u1491.mouseOver {
}
#u1491_img.mouseDown {
}
#u1491.mouseDown {
}
#u1491_img.selected {
}
#u1491.selected {
}
#u1492 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1493 {
  position:absolute;
  left:222px;
  top:1067px;
  width:25px;
  height:16px;
}
#u1494 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1495 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1496 {
  position:absolute;
  left:203px;
  top:1066px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1496_img.mouseOver {
}
#u1496.mouseOver {
}
#u1496_img.mouseDown {
}
#u1496.mouseDown {
}
#u1496_img.selected {
}
#u1496.selected {
}
#u1497 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1498 {
  position:absolute;
  left:222px;
  top:1067px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1499 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1500 {
  position:absolute;
  left:183px;
  top:1117px;
  width:955px;
  height:1px;
}
#u1501 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1503 {
  position:absolute;
  left:190px;
  top:1148px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1504 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1505 {
  position:absolute;
  left:190px;
  top:1188px;
  width:815px;
  height:148px;
}
#u1506 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1507 {
  position:absolute;
  left:203px;
  top:1218px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1508 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1509 {
  position:absolute;
  left:197px;
  top:1176px;
  width:30px;
  height:17px;
}
#u1510 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1511 {
  position:absolute;
  left:257px;
  top:1309px;
  width:116px;
  height:16px;
}
#u1512 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1513 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1514 {
  position:absolute;
  left:203px;
  top:1309px;
  width:15px;
  height:16px;
}
#u1514_img.mouseOver {
}
#u1514.mouseOver {
}
#u1514_img.mouseDown {
}
#u1514.mouseDown {
}
#u1514_img.selected {
}
#u1514.selected {
}
#u1515 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1516 {
  position:absolute;
  left:222px;
  top:1310px;
  width:25px;
  height:16px;
}
#u1517 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1518 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1519 {
  position:absolute;
  left:203px;
  top:1309px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1519_img.mouseOver {
}
#u1519.mouseOver {
}
#u1519_img.mouseDown {
}
#u1519.mouseDown {
}
#u1519_img.selected {
}
#u1519.selected {
}
#u1520 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1521 {
  position:absolute;
  left:222px;
  top:1310px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1522 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1523 {
  position:absolute;
  left:183px;
  top:1360px;
  width:955px;
  height:1px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1526 {
  position:absolute;
  left:190px;
  top:1382px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1527 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1528 {
  position:absolute;
  left:190px;
  top:1422px;
  width:815px;
  height:148px;
}
#u1529 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1530 {
  position:absolute;
  left:203px;
  top:1452px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1531 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1532 {
  position:absolute;
  left:197px;
  top:1410px;
  width:30px;
  height:17px;
}
#u1533 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1534 {
  position:absolute;
  left:257px;
  top:1543px;
  width:116px;
  height:16px;
}
#u1535 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1536 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1537 {
  position:absolute;
  left:203px;
  top:1543px;
  width:15px;
  height:16px;
}
#u1537_img.mouseOver {
}
#u1537.mouseOver {
}
#u1537_img.mouseDown {
}
#u1537.mouseDown {
}
#u1537_img.selected {
}
#u1537.selected {
}
#u1538 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1539 {
  position:absolute;
  left:222px;
  top:1544px;
  width:25px;
  height:16px;
}
#u1540 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1541 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1542 {
  position:absolute;
  left:203px;
  top:1543px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1542_img.mouseOver {
}
#u1542.mouseOver {
}
#u1542_img.mouseDown {
}
#u1542.mouseDown {
}
#u1542_img.selected {
}
#u1542.selected {
}
#u1543 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1544 {
  position:absolute;
  left:222px;
  top:1544px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1545 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1546 {
  position:absolute;
  left:183px;
  top:1594px;
  width:955px;
  height:1px;
}
#u1547 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
