body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:328px;
}
#u1469 {
  position:absolute;
  left:0px;
  top:-20px;
  width:1250px;
  height:328px;
}
#u1470 {
  position:absolute;
  left:2px;
  top:156px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:1353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1471 {
  position:absolute;
  left:165px;
  top:328px;
  width:990px;
  height:1353px;
}
#u1472 {
  position:absolute;
  left:2px;
  top:668px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
}
#u1473 {
  position:absolute;
  left:556px;
  top:278px;
  width:98px;
  height:17px;
}
#u1474 {
  position:absolute;
  left:2px;
  top:0px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1475 {
  position:absolute;
  left:579px;
  top:278px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1476 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1478 {
  position:absolute;
  left:190px;
  top:429px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1479 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1480 {
  position:absolute;
  left:190px;
  top:469px;
  width:815px;
  height:148px;
}
#u1481 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1482 {
  position:absolute;
  left:203px;
  top:499px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1483 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1484 {
  position:absolute;
  left:197px;
  top:457px;
  width:30px;
  height:17px;
}
#u1485 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1486 {
  position:absolute;
  left:257px;
  top:590px;
  width:116px;
  height:16px;
}
#u1487 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1489 {
  position:absolute;
  left:203px;
  top:590px;
  width:15px;
  height:16px;
}
#u1489_img.mouseOver {
}
#u1489.mouseOver {
}
#u1489_img.mouseDown {
}
#u1489.mouseDown {
}
#u1489_img.selected {
}
#u1489.selected {
}
#u1490 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1491 {
  position:absolute;
  left:222px;
  top:591px;
  width:25px;
  height:16px;
}
#u1492 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1494 {
  position:absolute;
  left:203px;
  top:590px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1494_img.mouseOver {
}
#u1494.mouseOver {
}
#u1494_img.mouseDown {
}
#u1494.mouseDown {
}
#u1494_img.selected {
}
#u1494.selected {
}
#u1495 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1496 {
  position:absolute;
  left:222px;
  top:591px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1497 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1498 {
  position:absolute;
  left:183px;
  top:641px;
  width:955px;
  height:1px;
}
#u1499 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:13px;
}
#u1500 {
  position:absolute;
  left:173px;
  top:377px;
  width:917px;
  height:13px;
}
#u1501 {
  position:absolute;
  left:2px;
  top:-2px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1502 {
  position:absolute;
  left:190px;
  top:355px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1503 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:43px;
}
#u1504 {
  position:absolute;
  left:685px;
  top:1605px;
  width:453px;
  height:43px;
}
#u1505 {
  position:absolute;
  left:2px;
  top:14px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1507 {
  position:absolute;
  left:190px;
  top:667px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1508 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1509 {
  position:absolute;
  left:190px;
  top:707px;
  width:815px;
  height:148px;
}
#u1510 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1511 {
  position:absolute;
  left:203px;
  top:737px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1512 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1513 {
  position:absolute;
  left:197px;
  top:695px;
  width:30px;
  height:17px;
}
#u1514 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1515 {
  position:absolute;
  left:257px;
  top:828px;
  width:116px;
  height:16px;
}
#u1516 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1517 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1518 {
  position:absolute;
  left:203px;
  top:828px;
  width:15px;
  height:16px;
}
#u1518_img.mouseOver {
}
#u1518.mouseOver {
}
#u1518_img.mouseDown {
}
#u1518.mouseDown {
}
#u1518_img.selected {
}
#u1518.selected {
}
#u1519 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1520 {
  position:absolute;
  left:222px;
  top:829px;
  width:25px;
  height:16px;
}
#u1521 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1522 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1523 {
  position:absolute;
  left:203px;
  top:828px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1523_img.mouseOver {
}
#u1523.mouseOver {
}
#u1523_img.mouseDown {
}
#u1523.mouseDown {
}
#u1523_img.selected {
}
#u1523.selected {
}
#u1524 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1525 {
  position:absolute;
  left:222px;
  top:829px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1526 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1527 {
  position:absolute;
  left:183px;
  top:879px;
  width:955px;
  height:1px;
}
#u1528 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1530 {
  position:absolute;
  left:190px;
  top:905px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1531 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1532 {
  position:absolute;
  left:190px;
  top:945px;
  width:815px;
  height:148px;
}
#u1533 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1534 {
  position:absolute;
  left:203px;
  top:975px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1535 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1536 {
  position:absolute;
  left:197px;
  top:933px;
  width:30px;
  height:17px;
}
#u1537 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1538 {
  position:absolute;
  left:257px;
  top:1066px;
  width:116px;
  height:16px;
}
#u1539 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1540 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1541 {
  position:absolute;
  left:203px;
  top:1066px;
  width:15px;
  height:16px;
}
#u1541_img.mouseOver {
}
#u1541.mouseOver {
}
#u1541_img.mouseDown {
}
#u1541.mouseDown {
}
#u1541_img.selected {
}
#u1541.selected {
}
#u1542 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1543 {
  position:absolute;
  left:222px;
  top:1067px;
  width:25px;
  height:16px;
}
#u1544 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1545 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1546 {
  position:absolute;
  left:203px;
  top:1066px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1546_img.mouseOver {
}
#u1546.mouseOver {
}
#u1546_img.mouseDown {
}
#u1546.mouseDown {
}
#u1546_img.selected {
}
#u1546.selected {
}
#u1547 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1548 {
  position:absolute;
  left:222px;
  top:1067px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1549 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1550 {
  position:absolute;
  left:183px;
  top:1117px;
  width:955px;
  height:1px;
}
#u1551 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1553 {
  position:absolute;
  left:190px;
  top:1148px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1554 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1555 {
  position:absolute;
  left:190px;
  top:1188px;
  width:815px;
  height:148px;
}
#u1556 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1557 {
  position:absolute;
  left:203px;
  top:1218px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1558 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1559 {
  position:absolute;
  left:197px;
  top:1176px;
  width:30px;
  height:17px;
}
#u1560 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1561 {
  position:absolute;
  left:257px;
  top:1309px;
  width:116px;
  height:16px;
}
#u1562 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1563 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1564 {
  position:absolute;
  left:203px;
  top:1309px;
  width:15px;
  height:16px;
}
#u1564_img.mouseOver {
}
#u1564.mouseOver {
}
#u1564_img.mouseDown {
}
#u1564.mouseDown {
}
#u1564_img.selected {
}
#u1564.selected {
}
#u1565 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1566 {
  position:absolute;
  left:222px;
  top:1310px;
  width:25px;
  height:16px;
}
#u1567 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1568 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1569 {
  position:absolute;
  left:203px;
  top:1309px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1569_img.mouseOver {
}
#u1569.mouseOver {
}
#u1569_img.mouseDown {
}
#u1569.mouseDown {
}
#u1569_img.selected {
}
#u1569.selected {
}
#u1570 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1571 {
  position:absolute;
  left:222px;
  top:1310px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1572 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1573 {
  position:absolute;
  left:183px;
  top:1360px;
  width:955px;
  height:1px;
}
#u1574 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1575 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1576 {
  position:absolute;
  left:190px;
  top:1382px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1577 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1578 {
  position:absolute;
  left:190px;
  top:1422px;
  width:815px;
  height:148px;
}
#u1579 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1580 {
  position:absolute;
  left:203px;
  top:1452px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1581 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1582 {
  position:absolute;
  left:197px;
  top:1410px;
  width:30px;
  height:17px;
}
#u1583 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1584 {
  position:absolute;
  left:257px;
  top:1543px;
  width:116px;
  height:16px;
}
#u1585 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1586 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1587 {
  position:absolute;
  left:203px;
  top:1543px;
  width:15px;
  height:16px;
}
#u1587_img.mouseOver {
}
#u1587.mouseOver {
}
#u1587_img.mouseDown {
}
#u1587.mouseDown {
}
#u1587_img.selected {
}
#u1587.selected {
}
#u1588 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1589 {
  position:absolute;
  left:222px;
  top:1544px;
  width:25px;
  height:16px;
}
#u1590 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1591 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1592 {
  position:absolute;
  left:203px;
  top:1543px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1592_img.mouseOver {
}
#u1592.mouseOver {
}
#u1592_img.mouseDown {
}
#u1592.mouseDown {
}
#u1592_img.selected {
}
#u1592.selected {
}
#u1593 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1594 {
  position:absolute;
  left:222px;
  top:1544px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1595 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1596 {
  position:absolute;
  left:183px;
  top:1594px;
  width:955px;
  height:1px;
}
#u1597 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
