body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:328px;
}
#u1270 {
  position:absolute;
  left:0px;
  top:-20px;
  width:1250px;
  height:328px;
}
#u1271 {
  position:absolute;
  left:2px;
  top:156px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:1353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1272 {
  position:absolute;
  left:165px;
  top:328px;
  width:990px;
  height:1353px;
}
#u1273 {
  position:absolute;
  left:2px;
  top:668px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
}
#u1274 {
  position:absolute;
  left:556px;
  top:278px;
  width:98px;
  height:17px;
}
#u1275 {
  position:absolute;
  left:2px;
  top:0px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1276 {
  position:absolute;
  left:579px;
  top:278px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1277 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1279 {
  position:absolute;
  left:190px;
  top:429px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1280 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1281 {
  position:absolute;
  left:190px;
  top:469px;
  width:815px;
  height:148px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1283 {
  position:absolute;
  left:203px;
  top:499px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1284 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1285 {
  position:absolute;
  left:197px;
  top:457px;
  width:30px;
  height:17px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1287 {
  position:absolute;
  left:257px;
  top:590px;
  width:116px;
  height:16px;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1289 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1290 {
  position:absolute;
  left:203px;
  top:590px;
  width:15px;
  height:16px;
}
#u1290_img.mouseOver {
}
#u1290.mouseOver {
}
#u1290_img.mouseDown {
}
#u1290.mouseDown {
}
#u1290_img.selected {
}
#u1290.selected {
}
#u1291 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1292 {
  position:absolute;
  left:222px;
  top:591px;
  width:25px;
  height:16px;
}
#u1293 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1295 {
  position:absolute;
  left:203px;
  top:590px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1295_img.mouseOver {
}
#u1295.mouseOver {
}
#u1295_img.mouseDown {
}
#u1295.mouseDown {
}
#u1295_img.selected {
}
#u1295.selected {
}
#u1296 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1297 {
  position:absolute;
  left:222px;
  top:591px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1298 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1299 {
  position:absolute;
  left:183px;
  top:641px;
  width:955px;
  height:1px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:13px;
}
#u1301 {
  position:absolute;
  left:173px;
  top:377px;
  width:917px;
  height:13px;
}
#u1302 {
  position:absolute;
  left:2px;
  top:-2px;
  width:913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1303 {
  position:absolute;
  left:190px;
  top:355px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1304 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:43px;
}
#u1305 {
  position:absolute;
  left:685px;
  top:1605px;
  width:453px;
  height:43px;
}
#u1306 {
  position:absolute;
  left:2px;
  top:14px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1308 {
  position:absolute;
  left:190px;
  top:667px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1309 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1310 {
  position:absolute;
  left:190px;
  top:707px;
  width:815px;
  height:148px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1312 {
  position:absolute;
  left:203px;
  top:737px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1314 {
  position:absolute;
  left:197px;
  top:695px;
  width:30px;
  height:17px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1316 {
  position:absolute;
  left:257px;
  top:828px;
  width:116px;
  height:16px;
}
#u1317 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1319 {
  position:absolute;
  left:203px;
  top:828px;
  width:15px;
  height:16px;
}
#u1319_img.mouseOver {
}
#u1319.mouseOver {
}
#u1319_img.mouseDown {
}
#u1319.mouseDown {
}
#u1319_img.selected {
}
#u1319.selected {
}
#u1320 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1321 {
  position:absolute;
  left:222px;
  top:829px;
  width:25px;
  height:16px;
}
#u1322 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1323 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1324 {
  position:absolute;
  left:203px;
  top:828px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1324_img.mouseOver {
}
#u1324.mouseOver {
}
#u1324_img.mouseDown {
}
#u1324.mouseDown {
}
#u1324_img.selected {
}
#u1324.selected {
}
#u1325 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1326 {
  position:absolute;
  left:222px;
  top:829px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1328 {
  position:absolute;
  left:183px;
  top:879px;
  width:955px;
  height:1px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1331 {
  position:absolute;
  left:190px;
  top:905px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1332 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1333 {
  position:absolute;
  left:190px;
  top:945px;
  width:815px;
  height:148px;
}
#u1334 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1335 {
  position:absolute;
  left:203px;
  top:975px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1336 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1337 {
  position:absolute;
  left:197px;
  top:933px;
  width:30px;
  height:17px;
}
#u1338 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1339 {
  position:absolute;
  left:257px;
  top:1066px;
  width:116px;
  height:16px;
}
#u1340 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1342 {
  position:absolute;
  left:203px;
  top:1066px;
  width:15px;
  height:16px;
}
#u1342_img.mouseOver {
}
#u1342.mouseOver {
}
#u1342_img.mouseDown {
}
#u1342.mouseDown {
}
#u1342_img.selected {
}
#u1342.selected {
}
#u1343 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1344 {
  position:absolute;
  left:222px;
  top:1067px;
  width:25px;
  height:16px;
}
#u1345 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1347 {
  position:absolute;
  left:203px;
  top:1066px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1347_img.mouseOver {
}
#u1347.mouseOver {
}
#u1347_img.mouseDown {
}
#u1347.mouseDown {
}
#u1347_img.selected {
}
#u1347.selected {
}
#u1348 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1349 {
  position:absolute;
  left:222px;
  top:1067px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1351 {
  position:absolute;
  left:183px;
  top:1117px;
  width:955px;
  height:1px;
}
#u1352 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1353 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1354 {
  position:absolute;
  left:190px;
  top:1148px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1355 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1356 {
  position:absolute;
  left:190px;
  top:1188px;
  width:815px;
  height:148px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1358 {
  position:absolute;
  left:203px;
  top:1218px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1359 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1360 {
  position:absolute;
  left:197px;
  top:1176px;
  width:30px;
  height:17px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1362 {
  position:absolute;
  left:257px;
  top:1309px;
  width:116px;
  height:16px;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1364 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1365 {
  position:absolute;
  left:203px;
  top:1309px;
  width:15px;
  height:16px;
}
#u1365_img.mouseOver {
}
#u1365.mouseOver {
}
#u1365_img.mouseDown {
}
#u1365.mouseDown {
}
#u1365_img.selected {
}
#u1365.selected {
}
#u1366 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1367 {
  position:absolute;
  left:222px;
  top:1310px;
  width:25px;
  height:16px;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1369 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1370 {
  position:absolute;
  left:203px;
  top:1309px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1370_img.mouseOver {
}
#u1370.mouseOver {
}
#u1370_img.mouseDown {
}
#u1370.mouseDown {
}
#u1370_img.selected {
}
#u1370.selected {
}
#u1371 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1372 {
  position:absolute;
  left:222px;
  top:1310px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1374 {
  position:absolute;
  left:183px;
  top:1360px;
  width:955px;
  height:1px;
}
#u1375 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1377 {
  position:absolute;
  left:190px;
  top:1382px;
  width:397px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1378 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:148px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  position:absolute;
  left:190px;
  top:1422px;
  width:815px;
  height:148px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:66px;
  width:811px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1381 {
  position:absolute;
  left:203px;
  top:1452px;
  width:770px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u1383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1383 {
  position:absolute;
  left:197px;
  top:1410px;
  width:30px;
  height:17px;
}
#u1384 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1385 {
  position:absolute;
  left:257px;
  top:1543px;
  width:116px;
  height:16px;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1387 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1388 {
  position:absolute;
  left:203px;
  top:1543px;
  width:15px;
  height:16px;
}
#u1388_img.mouseOver {
}
#u1388.mouseOver {
}
#u1388_img.mouseDown {
}
#u1388.mouseDown {
}
#u1388_img.selected {
}
#u1388.selected {
}
#u1389 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1390 {
  position:absolute;
  left:222px;
  top:1544px;
  width:25px;
  height:16px;
}
#u1391 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1393 {
  position:absolute;
  left:203px;
  top:1543px;
  width:15px;
  height:16px;
  color:#FF0000;
}
#u1393_img.mouseOver {
}
#u1393.mouseOver {
}
#u1393_img.mouseDown {
}
#u1393.mouseDown {
}
#u1393_img.selected {
}
#u1393.selected {
}
#u1394 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1395 {
  position:absolute;
  left:222px;
  top:1544px;
  width:25px;
  height:16px;
  color:#FF0000;
}
#u1396 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:2px;
}
#u1397 {
  position:absolute;
  left:183px;
  top:1594px;
  width:955px;
  height:1px;
}
#u1398 {
  position:absolute;
  left:2px;
  top:-8px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
