body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1008px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:735px;
}
#u509 {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:735px;
}
#u510 {
  position:absolute;
  left:2px;
  top:360px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u512 {
  position:absolute;
  left:379px;
  top:376px;
  width:15px;
  height:13px;
}
#u513 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u514 {
  position:absolute;
  left:396px;
  top:374px;
  width:23px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u515 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u516 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u517 {
  position:absolute;
  left:379px;
  top:533px;
  width:15px;
  height:13px;
}
#u518 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u519 {
  position:absolute;
  left:396px;
  top:531px;
  width:23px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u520 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u522 {
  position:absolute;
  left:367px;
  top:693px;
  width:15px;
  height:13px;
}
#u523 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u524 {
  position:absolute;
  left:384px;
  top:691px;
  width:23px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u525 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:27px;
}
#u526 {
  position:absolute;
  left:0px;
  top:220px;
  width:197px;
  height:27px;
}
#u527 {
  position:absolute;
  left:2px;
  top:6px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u528 {
  position:absolute;
  left:10px;
  top:218px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:2px;
}
#u530 {
  position:absolute;
  left:10px;
  top:250px;
  width:655px;
  height:1px;
}
#u531 {
  position:absolute;
  left:2px;
  top:-8px;
  width:651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:2px;
}
#u532 {
  position:absolute;
  left:10px;
  top:250px;
  width:82px;
  height:1px;
}
#u533 {
  position:absolute;
  left:2px;
  top:-8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u534 {
  position:absolute;
  left:102px;
  top:218px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u535 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
