body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1224px;
  height:881px;
}
#u1399 {
  position:absolute;
  left:16px;
  top:0px;
  width:1224px;
  height:881px;
}
#u1400 {
  position:absolute;
  left:2px;
  top:432px;
  width:1220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1401 {
  position:absolute;
  left:207px;
  top:452px;
  width:25px;
  height:25px;
  color:#FFFFFF;
}
#u1402 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u1403 {
  position:absolute;
  left:339px;
  top:683px;
  width:45px;
  height:30px;
}
#u1404 {
  position:absolute;
  left:2px;
  top:7px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u1405 {
  position:absolute;
  left:339px;
  top:690px;
  width:43px;
  height:16px;
  color:#A1A1A1;
}
#u1406 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u1407 {
  position:absolute;
  left:187px;
  top:676px;
  width:48px;
  height:30px;
}
#u1408 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u1410 {
  position:absolute;
  left:205px;
  top:686px;
  width:30px;
  height:24px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u1412 {
  position:absolute;
  left:251px;
  top:457px;
  width:85px;
  height:16px;
  color:#A1A1A1;
}
#u1413 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1414 {
  position:absolute;
  left:362px;
  top:456px;
  width:465px;
  height:16px;
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  white-space:nowrap;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1416 {
  position:absolute;
  left:842px;
  top:458px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
