body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:987px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:853px;
}
#u399 {
  position:absolute;
  left:-6px;
  top:-4px;
  width:999px;
  height:853px;
}
#u400 {
  position:absolute;
  left:2px;
  top:418px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u401 {
  position:absolute;
  left:460px;
  top:293px;
  width:15px;
  height:13px;
}
#u402 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u403 {
  position:absolute;
  left:460px;
  top:342px;
  width:15px;
  height:13px;
}
#u404 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u405 {
  position:absolute;
  left:460px;
  top:391px;
  width:15px;
  height:13px;
}
#u406 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u407 {
  position:absolute;
  left:460px;
  top:453px;
  width:15px;
  height:13px;
}
#u408 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u409 {
  position:absolute;
  left:460px;
  top:503px;
  width:15px;
  height:13px;
}
#u410 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u411 {
  position:absolute;
  left:460px;
  top:551px;
  width:15px;
  height:13px;
}
#u412 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u413 {
  position:absolute;
  left:460px;
  top:641px;
  width:15px;
  height:13px;
}
#u414 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u415 {
  position:absolute;
  left:460px;
  top:664px;
  width:15px;
  height:13px;
}
#u416 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u417 {
  position:absolute;
  left:460px;
  top:690px;
  width:15px;
  height:13px;
}
#u418 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:20px;
}
#u419 {
  position:absolute;
  left:176px;
  top:137px;
  width:231px;
  height:20px;
}
#u420 {
  position:absolute;
  left:2px;
  top:2px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u421 {
  position:absolute;
  left:194px;
  top:137px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u422 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u423 {
  position:absolute;
  left:242px;
  top:137px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u424 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u425 {
  position:absolute;
  left:292px;
  top:137px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u426 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u427 {
  position:absolute;
  left:342px;
  top:137px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u428 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u429 {
  position:absolute;
  left:395px;
  top:137px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u430 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u431 {
  position:absolute;
  left:363px;
  top:127px;
  width:32px;
  height:29px;
  font-size:10px;
  color:#FFFFFF;
}
#u432 {
  position:absolute;
  left:6px;
  top:2px;
  width:24px;
  word-wrap:break-word;
}
